$backgroundColor: #d94167;
$cardColor: #ebebd3;

body {
	background-color: $backgroundColor;
}
header {
	display: flex;
	margin: auto;
	justify-content: center;
	height: 100px;
	width: 500px;
}
main {
	display: flex;
	justify-content: center;
}
